<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <!-- Logo -->
        <div class="logo">
          <h1><a href="/">EDMS</a></h1>
        </div>
      </div>
      <div class="col-md-7">
        <div class="navbar navbar-inverse" role="banner">
          <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
            <ul class="nav navbar-nav">

              <% if !current_user %>
              <li> </li>
              <li> </li>
              <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, <%= current_user.name %> <b class="caret"></b></a>
                <ul class="dropdown-menu animated fadeInUp">
                  <li> <%= link_to("Signout", destroy_user_session_path, method: :delete) %> </li>
                </ul>
              </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
